apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-ingress
  namespace: argocd
  annotations:
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    cert-manager.io/cluster-issuer: letsencrypt-development
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - testing.migration.argo.nawnest.my.id
      secretName: argocd-ingress-tls
  rules:
    - host: testing.migration.argo.nawnest.my.id
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: argocd-server
                port:
                  number: 443
